.detail-a-container {
    width: 100%;
    height: auto;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.detail-a-left {
    width: 60%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ededed;
    border-radius: 2px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.da-title {
    width: 90%;
    margin-top: 20px;
}

.da-text {
    width: 90%;
    margin-top: 5px;
    color: #999999;
}

.detail-a-right {
    width: 37%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ededed;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-disposisi-box {
    width: 80%;
    height: 40px;
    background-color: white;
    border-radius: 6px;
    color: #00698C;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    cursor: pointer;
}

.detail-disposisi-button {
    width: 80%;
    height: 45px;
    border-radius: 8px;
    background-color: #00698C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 24px;
}