.input-a-left-container {
    width: 49%;
    height: auto;
    background-color: #ededed;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 100px;
}

.input-a-input-box {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
}

.input-a-column-box {
    width: 49%;
    /* background-color: tomato; */
}

.input-a-row-box {
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
    justify-content: space-between;
}

.input-a-input-box input {
    width: 100%;
    height: 50px;
    padding: 15px;
    font-size: 14px;
    margin-top: 10px;
    border: 1px solid #c4c4c4;
}

.input-a-input-box textarea {
    width: 100%;
    height: 100px;
    padding: 15px;
    font-size: 14px;
    margin-top: 10px;
    border: 1px solid #c4c4c4;
}

.input-a-column-box select {
    width: 100%;
    height: 50px;
    padding: 15px;
    font-size: 14px;
    margin-top: 10px;
    border: 1px solid #c4c4c4;
}

.input-a-input-box select {
    width: 100%;
    height: 50px;
    padding: 15px;
    font-size: 14px;
    margin-top: 10px;
    border: 1px solid #c4c4c4;
}

.input-a-datepicker {
    width: 100%;
    height: 50px;
    padding: 15px;
    font-size: 14px;
    margin-top: 10px;
    border: 1px solid #c4c4c4;
}

.input-a-time-picker {
    margin-top: 10px;
    height: 30px;
}