.profile-container {
    background-color: #ffffff;
    border: 0.5px solid #cfcfcf;
    padding: 3%;
}

.profile-container-01 {
    display: flex;
    /* margin-top: 35px; */
}

.profile-info-01 {
    margin-left: 50px;
}


.profile-info-02 {
    margin-left: 50px;
    width: 100%;
}
.profile-container-02 {
    /* margin-left: 50px; */
    margin-top: 20px;
    display: flex;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info-left-01 {
    width: 150px;
}

.profile-info-01 h4 {
    margin-top: -15px;
    font-weight: 550;
}

.profile-pin {
    width: 15px;
    margin-right: 2px;
}

.profile-info-details {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.profile-info-details-column-left {
    width: 20%;
    color: #c4c4c4;
}

.profile-info-details-column-right {
    width: 80%;
}

.profile-info-details-column-right h3 {
    font-weight: 500;
}

.jabatan-input-edit {
    width: 100%;
    margin-top: -15px;
}

.jabatan-input-edit select {
    border: 0.5px solid #dbdbdb;
    outline: none;
    padding-left: 7px;
    padding-right: 7px;
}

.jabatan-input-edit img {
    width: 18px;
    margin-left: 10px;
    border-radius: 3px;  
}

.jabatan-input-edit img:hover {
    cursor: pointer; 
}

.profile-info-details-column-right img {
    width: 16px;
    margin-left: 10px;
    border-radius: 3px;
}

.profile-info-details-column-right img:hover {
    cursor: pointer;
}

.profile-info-details-input-box {
    display: flex;
}

.profile-info-details-input-box input {
    border: 0.5px solid #dbdbdb;
    outline: none;
    height: 22px;
    padding-left: 7px;
    padding-top: 5px;
    font-weight: bold;
    padding-bottom: 5px;
}

.profile-info-details-input-box select {
    border: 0.5px solid #dbdbdb;
    outline: none;
    padding-left: 7px;
    padding-right: 7px;
}

.profile-info-details-input-box img {
    width: 18px;
    height: 18px;

}

.edit-button-01 {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.profile-info-details-input-box img:hover {
    cursor: pointer;
}

.edit-button-01:hover {
    cursor: pointer;    
}

.jabatan-text {
    font-weight: 500;
    margin-top: -15px;
}

.log-out-btn {
    float: right;
    background-color: red;
    outline: none;
    border: none;
    width: 120px;
    height: 40px;
    margin-top: 30px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 50px;
}

.log-out-btn:hover {
    background-color: #a30003;
    cursor: pointer;
}