.view-report-container-02 {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}

.search-report-02 {
    margin-bottom: 30px;
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 6px;
    padding-left: 10px;
    outline: none;
}