.input-b-left-container {
    width: 49%;
    background-color: #ededed;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 40px;
}

.input-b-input-box {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
}

.input-b-input-box input {
    width: 100%;
    height: 50px;
    padding: 15px;
    font-size: 14px;
    margin-top: 10px;
    border: 1px solid #c4c4c4;
}

.input-b-column-box {
    width: 49%;
    /* background-color: tomato; */
}

.input-b-column-box input {
    width: 100%;
    height: 50px;
    padding: 15px;
    font-size: 14px;
    margin-top: 10px;
    border: 1px solid #c4c4c4;
}

.input-b-column-box select{
    width: 100%;
    height: 50px;
    padding: 15px;
    font-size: 14px;
    margin-top: 10px;
    border: 1px solid #c4c4c4;
}

.input-b-input-box select {
    width: 100%;
    height: 50px;
    padding: 15px;
    font-size: 14px;
    margin-top: 10px;
    border: 1px solid #c4c4c4;
}

.input-b-row-box {
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
    justify-content: space-between;
}

.input-b-datepicker {
    width: 100%;
    height: 50px;
    padding: 15px;
    font-size: 14px;
    margin-top: 10px;
    border: 1px solid #c4c4c4;
}